{% extends "base.html" %}

{% block content %}

<h1>All Blogs</h1>
<form action='/blog' method='POST'>
    <table>
    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li><h2><a href='/single_blog?id={{blog.id}}'>{{blog.title}}</a></h2>{{blog.body}}</li>
            <l1><h4>written by <a href='/individual?id={{blog.owner.id}}'>{{blog.owner.username}}</a></h4></li>
            {% endfor %}
        </ul>

    {% endif %}
    </table>

{% endblock %}